@tailwind base;
@tailwind components;
@tailwind utilities; 
 

.header-bg{
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}
